 <!-- Video Source -->
  <!-- https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->
<section  class="showcase">
    <video  src="../../assets/world.mp4" muted loop autoplay></video>
    <div class="text">
      <h2>Nathan Traineau </h2> 
      <h3>Pure beau gosse du tieks</h3>
      <p>yo la miss trkl shhh2.1.</p>
      <a [routerLink]="['/resume']">Mon CV</a>
      
    </div>
      <div class="badge-base LI-profile-badge" data-locale="fr_FR" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="nathan-traineau-72a589122" data-version="v1">
        <a class="badge-base__link LI-simple-link" href="https://fr.linkedin.com/in/nathan-traineau-72a589122?trk=profile-badge">Nathan Traineau</a></div>
         
  </section>
             

